%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.
{require_otp_vsn, "R14|R15"}.


{deps, [
     %% logging
    {lager, ".*", {git, "git://github.com/basho/lager.git",
                  {branch, "master"}}},

    %% test with etap
    {etap, ".*", {git,  "git://github.com/refuge/etap.git",
                 {branch, "master"}}}

]}.


{sub_dirs, [
    "apps/couch",
    "apps/couch_httpd",
    "apps/couch_index",
    "apps/couch_mrview",
    "apps/couch_changes",
    "apps/couch_replicator",
    "test"
]}.

{require_otp_vsn, "R14|R15"}.
