%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info,
            {platform_define, "(R14|R16)", 'gen_tcp_fix'},
            {parse_transform, lager_transform}]}.

{deps, [
    %% mochiweb module, http framework
    {mochiweb, ".*", {git,"git://github.com/refuge/mochiweb.git",
                        {branch, "master"}}},

    %% cowboy adapter to mochiweb
    {ranch, ".*", {git,"git://github.com/refuge/ranch.git",
                  {branch, "rcouch"}}},

     %% logging
    {lager, ".*", {git, "git://github.com/basho/lager.git",
                  {branch, "master"}}}
]}.

