%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{erl_opts, [debug_info]}.
{require_otp_vsn, "R14|R15"}.

{deps, [
    {couch, ".*", {git, "git://github.com/refuge/couch.git", "master"}}
]}.
